.search {
  width: 600px;
  margin: auto;

  .searchTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
  }

  .searchForm {
    margin: 10px;

    .searchFormInput {
      width: 400px;
      height: 25px;
      font-size: 1.1rem;
      background-color: beige;
      color: black;
      margin-bottom: 15px;
    }

    .searchFormButton {
      width: 100px;
      height: 30px;
      background-color: darkgrey;
      color: white;
      font-weight: bolder;
      font-size: 0.9rem;
    }
  }
}
